@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}
/* Hide scrollbar for all elements */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}
